<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="UI Suite" verbose="1"  parallel="false">
    <test name="UI Test" parallel="false" thread-count="5">
        <parameter name="browser" value="${browser}"></parameter>
        <classes>
            <class name="ua.hillel.tests.wd.login.LoginTestPO"/>
        </classes>
    </test>
</suite>
